# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Neon PostgreSQL
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Registration
SIGNUP_ENABLED=true

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=
